.git
.github
.env
.env.*
!.env.example
!.env.internal.example
**/.env
**/.env.*
!**/.env.example
.mypy_cache
.pytest_cache
.ruff_cache
.svelte-kit
.venv
**/__pycache__
**/.svelte-kit
**/build
**/node_modules
node_modules
